{% extends "base.html" %}

{% block body %}
<form method="post">
    <h2>Add Expense</h2>
    <div class="mb-3">
      <label for="amount" class="form-label">Amount (€)</label>
      <input type="number" class="form-control" name="amount" id="amount" required>
    </div>
    <div class="mb-3">
      <label for="note" class="form-label">Note</label>
      <input type="text" class="form-control" name="note" id="note" >
    </div>
    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" name="location" id="location">
    </div>    
    <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" name="date" id="date">
    </div>
    <div class="mb-3">
        <input type="reset" value="Reset">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}